.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.hoverStyle {
  cursor: pointer;
}

.errormsg {
  font-size: 12px;
  color: red;
}

.errorstar{
  color: red;
  margin-left: 4px;
}

.logintext {
  display: flex;
  justify-content: center;
}

.socialbtn {
  height: 45px !important;
  padding-top: 4px !important;
  font-size: 15px !important;
}

.swal2-input {
  min-width: 40%;
  max-width: 60%;
}

.dashboard-table {
  width: 40%;
  max-width: 100%;
}

.search-table {
  width: 80%;
  max-width: 100%;
}

.playlist-table {
  width: 80%;
  max-width: 100%;
}

@media (max-width: 700px) and (min-width: 400px) {
  .dashboard-table {
    width: 95%;
  }
}

@media (max-width: 399px) {
  .dashboard-table {
    width: 98%;
  }
}